---
import Base from '../layouts/Base.astro'
import ContactUs from '../components/ContactUs'
---
<Base title='LinoLove Design'>
	<div class="h-screen">
		<ContactUs client:visible />
	</div>
</Base>
 