---
import { Image } from 'astro:assets'
import Base from '../layouts/Base.astro'
import Logo from '../assets/LinoLove Logo.png'; 

---
<Base title='LinoLove Design'>
	<main class="mt-20 md:pt-16">
		<Image src={Logo}  alt="LinoLove Design Logo" class="w-1/2 mx-auto" />
		<h1 class="text-center text-4xl font-bold mt-10">Portfolio</h1>
	</main>
</Base>
 